body{
   
    font-family: brush 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding:0;
    background-color:rgb(123, 166, 218) ;
    /*border: border-box;*/

    }
    *{
        margin: 0;
    }
    .opp{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px ;
    background-color:rgb(82, 78, 78) ;
    margin-bottom: 0;
    border: 2px solid transparent;
    height:46px;
    cursor: pointer;
    }
    #input{
       font-size: 16px; 
       width: 640px;
       height: 46px;


    }
    .stb{
        margin-top:0;
        font-size: 16px; 
      border: 40px 46px;
      background-color: orange;
      height:46px;
      width:38;
      cursor: pointer;
    }
    .stb button :hover{
        margin-top:0;
        font-size: 16px; 
      border: 40px 46px;
      background-color: orange;
      height:46px;
    }
    .logo{
        text-align:left ;
        margin-left: 0;
        background-image: url("logo.png");
        height: 50px;
        width: 300px;
        background-repeat: no-repeat;
        align-items: left;
    }
    .searchbox{
        margin: 0;
        padding: 0;
        position: fixed;
        width: 100%;

        background-color: rgb(8, 8, 33);
        display: flex; 
        justify-content: center;   
        border-radius: 0px;
        border: 2px solid ;

    }
    .taskbar{
        position: relative;
        top:50px;
        display: flex;
        margin-top: 0px;
        height: 50px;
        background-color: rgb(233, 242, 237);
        text-emphasis-color: black;
        margin-bottom: 40px;
        transition: background-color 0.3s ease;

    }

    .taskbar button{
       
        font-size: 16px;
        align-items: center;
        gap: 0;
        display: flex;
        justify-content: center;
        background-color:  rgba(233, 242, 237,0.8);
        align-items: center;
        border: 2px solid transparent;     
        margin-bottom: 10px; 
        cursor: pointer;
        transition: background-color 0.3s ease;
 }
 .taskbar button :hover{
    background-color: #2977e5;
 }
      h1{
        text-align: center;
        font-style:oblique ;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-left:0 ;
        padding-top: 30px;
        align-items: center;
        color :rgb(10, 15, 17);
        font-size: 40px;
        text-align: left;
        justify-content: left;
        display: flex;
}
    .resultbox{
        margin:0;
        overflow-y: scroll;
    }
    .resultbox ul{
        
        background-color: #f7f3f3;
        margin-top: 50px;
        width: 629.2px ;
        margin-left: 38.7%;
        cursor: pointer;
        display: inline-block;
        text-align:bottom ;
        color:rgb(66, 66, 63);
        border-top: 2px solid #090909;
        list-style: none;
        border-radius:4px;
        padding: 15px 10px;
        align-items: center;
    }
    .resultbox ul li:hover{
        background-color: rgb(248, 213, 125);
    }
    .background{
        width: 100%;
        
        height: auto;
        background-image: url("s.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
        margin-bottom: 0px;
    } 
    
    header p{
        color: rgb(40, 11, 11);
        text-align:center;
        justify-content: center;
       margin-top: 0;
       padding-left: 320px;
       padding-bottom: 0px;
       
    }
    a{
        text-decoration: none;
        color: black;
    }
      .l {
            display: flex;
            gap: 15px; 
            justify-content: center;
            text-align: center;
            align-items: center; /* Adds spacing between buttons */
            margin-top: 20px;  /* Space between the form and the navigation buttons */
        }
        
.img{
    background-image:url(k.png);
    background-repeat: no-repeat;
}
        
        .icon{

            display: flex;
            gap: 10px; 
            justify-content: bottom;
            text-align: center;
            align-items: center; 
            margin-top: 0%; 
            padding-left: 42%;
            margin-bottom: 0%;
        }
        .icon button {
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 0px;
            margin-right: 10px;
            margin-bottom: 0;
        }
        .icon button:hover{
            background-color: coral;
        }
        #f{
            padding: 10px 20px;
            background-color: #293c99;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 10px;
        }
        #f:hover{
            background-color: coral;
        }
        #t{
            padding: 10px 20px;
            background-color: #2977e5;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 10px;
        }
        #t:hover{
            background-color: coral;
        }
       #e{
        padding: 10px 20px;
            background-color: #2b3f30;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 10px;

       }
       #e:hover{
        background-color: coral;
    }
       .icon button:active{
        border: 2px solid rgb(35, 4, 4)
       }
     #f:active{
        border: 2px solid rgb(35, 4, 4)
    }
    #t:active{
        border: 2px solid rgb(35, 4, 4)
    }
    #e:active{
        border: 2px solid rgb(35, 4, 4) 
    }
       .content{
        position: static;
        height: 80px;
        background-color: rgb(8, 8, 33);
        color: #ccc;
        margin-top: 0;
        margin-left: 0%;
        margin-bottom: 0%;

       }
     
       .f{
      margin-top:30%;
        margin-left: 0%;
        text-align: center;
        background-color: rgb(8, 8, 33);
        color: #ccc;
        width:100%;
       margin-bottom: 0%;
       position:relative;
       }
    