<!DOCTYPE lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam hacker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='bca.css') }}">

</head>
<body>
    <header>
    
        <div class="searchbox">
            <div class="logo">
            
            </div>
            <select class="opp">
                <option >All</option>
            </select>

            <input  type="text" name="query" placeholder="Search for title, author, course, publisher"id="input">
            <button type="submit" class="stb"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <div class="resultbox">
        </div>
        <form>
        <div class="taskbar">     
        <button ><i class="fa-solid fa-house"></i>Home</button><br>
         <button><a href="login.html"><i class="fa-solid fa-user"></i>login</a></button>
        <button><i class="fa-solid fa-bars"></i>categories</button><br>
        <button><i class="fa-solid fa-circle-info"></i>Information</button>
    
        
        </div>
        
        </form>
    </header>
        
<h1>Bachelor Of Business Adminstration (BBA)</h1>
<br>
<h2 fontc> SUBJECTS <span style="color:red;">semester::1</span><i class="fa-regular fa-clipboard" ></i> Notes:-</h2><br><br>
<h2> Principle of Marketing<i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Introduction <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Consumer Behaviour and Market Segment <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- Product and Pricing <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Promotion and Channels of Distribution <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- An Overview of Global Marketing<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p>
<br>
<br>
<!-- <h1>Bachelor Of Business Adminstration (BBA)</h1> -->
<h2> Basic of Financial Mangment<i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Business Finance <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Cost of Capital <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- Capital Structure & its Decision <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Short Term Financial Requirement<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- Divident Policy and Retained Earnings<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p>
<br>
<br>

<!-- <h1>Bachelor Of Business Adminstration (BBA)</h1> -->
<h2> Basic of HRM <i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Introduction to  HRM<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Human Resource Planning <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- Training and Development <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Performance Appraisal<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- Compensation<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p>


<!-- <h1>Bachelor Of Business Adminstration (BBA)</h1> -->
<h2> Environmental Science<i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Environmental Science and Ecosystem <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Natural Resources and Biodiversity<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- Enivorment Pollution <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Important Environmental and Social Issues ,Managment and Legislation<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- Field Work<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p><br>


<!-- <h1>Bachelor Of Business Adminstration (BBA)</h1> -->
<h2> Securities Market Foundation <i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Overview of Financial Markets <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Basic of Stock Market<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- Mutual Funds <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Derivative Markets<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- Financial PLanning and Securities Markets<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p>
<br>
<!-- <h1>Bachelor Of Business Adminstration (BBA)</h1> -->
<h2> Constitution of India <i class="fa-regular fa-clipboard" ></i> Notes:-</h2>
<br><p>
    UNIT 1:- Introduction to Constitution<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 2:- Union Government<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 3:- State and Local Government<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 4:- Election Provisions <button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
    UNIT 5:- Emergency Provisions,Amendment of the Constitution<button><i class="fa-regular fa-clipboard" ></i> Notes</button></br></br>
</p>
<br>
<h1 style="color:indigo ;text-align: center;"> Refrence BOOKS:-</h1>
<div class="img"> </div>
<footer>
        <div class="f">
        <section class="content">
            <h2><i class="fa-solid fa-layer-group"></i>Exam Hacker</h2>
            <p><i class="fa-solid fa-circle-user"></i>credit to:
                Garima Bisht,Anjali,Babli Bharara,Devraj.
            </p>
        </section>
    
         

        <nav>
            <i class="fa-brands fa-wordpress"></i>created as : Project work<br>
            <section >
    
                <div class="icon">
                    <button><i class="fa-brands fa-whatsapp"></i> </button>
                    <button id="f"><i class="fa-brands fa-facebook"></i></button>
                    <button id="t"><i class="fa-brands fa-twitter"></i></button>
                    <button id="e"><i class="fa-solid fa-envelope"></i></button>
                </div>
    
            
            
            </section>
            
         <a href ="https://www.gehu.ac.in/">for Graphic Era Hill University ,Bhimtal..</a><br>
        </nav>
    </div>
</footer>
    </main>

</body>
</html>